.navButton {
  //display: none;
  flex-direction: column;
}
.navLink{
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.logo {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navButton {
    display: none!important;
  }
  .logo {
    font-size: 1rem!important;
  }
}